.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8rem;
}

.login-input {
  padding-bottom: 15px;
}

.login-button {
  margin-bottom: 10px;
  margin-top: 10px;
}
