h1 {
  padding-top: 10px;
  margin-left: 5px;
}

body {
  margin: 10px;
}

.table {
  display: flexbox;
  margin: 10px auto;
  border-radius: 6px;
}

.table-head {
  background-color: #80ed99;
}

.athleteListHide {
  display: none;
}

.athleteListShow {
  display: flexbox;
}

.athlete-list {
  background-color: gainsboro;
}

.reserve-class-button {
  background-color: #8c00ff;
  border: solid 1px #8c00ff;
}

.reserve-class-button:hover {
  background-color: white;
  border: solid 1px #8c00ff;
  color: #8c00ff;
}
